.container-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}
.container-company .parent-box2 .box-blue {
  position: relative;
  height: 182px;
  width: 350px;
  left: 200px;
  top: 180px;
  background-color: #BEEBFF;
  text-align: center;
}
.container-company .parent-box2 .box-blue h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-top: 30px;
  text-align: left;
  padding-left: 20px;
}
.container-company .parent-box2 .box-blue p {
  position: relative;
  top: 1rem;
  color: #191919;
  font-size: 15px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding-bottom: 60px;
}
.container-company .parent-box2 .box-blue .name {
  color: #191919;
}
.container-company .parent-box2 .box-blue .roll {
  color: #F94D1C;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.container-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-right .aside-right {
  padding-right: 20rem;
  padding-left: 17rem;
  margin-bottom: 18rem;
  margin-top: 200px;
}
.container-right .aside-right h6 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #F94D1C;
  margin-bottom: 20px;
  margin-top: 40px;
}
.container-right .aside-right h3 {
  font-size: 35px;
  font-family: "DM Sans", sans-serif;
  color: #191919;
  margin-bottom: 25px;
}
.container-right .aside-right p {
  position: relative;
  top: 1rem;
  font-size: 16px;
  color: #707070;
  margin-bottom: 3rem;
  line-height: 2;
}
.container-right .btn-black {
  position: relative;
  top: 70px;
  background-color: #191919;
  border: solid black;
  border-radius: 35px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  color: #efebeb;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in;
  box-shadow: 10px 10px 3px 2px #666363;
}
.container-right .btn-black i {
  margin-left: 8px;
  font-weight: 400;
  font-size: 1em;
}
.container-right .btn-black:hover {
  background-color: #BEEBFF;
  color: #191919;
  border: 1px solid black;
  box-shadow: 0 0 0 0 #666363;
}
.container-right .btn-play {
  position: relative;
  top: 90px;
  left: 60px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  border-radius: 8%;
  font-size: 22px;
  font-weight: 400;
  text-decoration-line: none;
  color: #191919;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.container-right .btn-play i {
  margin-right: 10px;
  font-weight: 400;
  font-size: 31px;
  border: none;
}
.container-right .btn-play:hover {
  background-color: rgb(255, 255, 255);
  color: cadetblue;
}