.Projects {
  margin-top: 8rem;
  background-color: #FFFFFF;
  position: relative;
  bottom: 8rem;
 
}
.Projects .container .title-project {
  text-align: center;
  position: relative;
  bottom: 80rem;
  left: 25rem;
}
.Projects .container .title-project p {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.Projects .container .title-project h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40;
  width: 500px;
}
.Projects .container .project-cases {
  position: relative;
  right: 35rem;
  bottom: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
 
}
.Projects .container .project-cases article h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #191919;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.Projects .container .project-cases article a {
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #191919;
  text-decoration-line: none;
  padding: 15px;
}
.Projects .container .project-cases article a i {
  margin-left: 10px;
  font-weight: 300;
}
.Projects .container .project-cases article a:hover {
  text-decoration-line: underline;
}
.Projects .container .btn-black {
  position: relative;
  left: 35rem;
  top: 4rem;
  background-color: black;
  border: solid black;
  border-radius: 35px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: none;
  color: #FFFFFF;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in;
  box-shadow: 5px 5px 5px 5px #969494;
}
.Projects .container .btn-black i {
  margin-left: 12px;
  font-weight: 400;
  font-size: 1em;
}
.Projects .container .btn-black:hover {
  background-color: #FFFFFF;
  color: #191919;
  border: 1px solid black;
  box-shadow: 0 0 0 0 #969494;
}