header {
  padding: 16px;
  background-color: #F0EFE9;
}
header .container {
  display: flex;
  align-items: center;
  gap: 70px;
  background-color: #F0EFE9;
  
}
header .container img {
  padding-top: 31px;
}
header .container .top-menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #DAD9D3;
  padding-bottom: 15px;
  flex: 1;
}
header .container .top-menu .social-media a {
  position: relative;
  color: #191919;
  left: 9rem;
  font-size: 20px;
  margin-right: 15px;
  transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.1s ease-out;
  box-shadow: 0 2px 0 0 #353232;
  
}
header .container .top-menu .social-media a:hover {
  color: white;
  box-shadow: 0 0 0 0 #353232;
}
header .container .top-menu .contact-information {
  display: flex;
  align-items: center;
}
header .container .top-menu .contact-information .contact-box {
  padding-right: 30px;
  margin-right: 50px;
  border-right: 2px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
header .container .top-menu .contact-information .contact-box i {
  color: #191919;
  font-weight: 400;
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}
header .container .top-menu .contact-information .contact-box i:hover {
  color: white;
}
header .bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 180px;
}
header .bottom-container nav a {
  display: inline-block;
  color: #191919;
  text-decoration-line: none;
  margin-right: 70px;
  position: relative;
  right: 2rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-radius: 30%;
}
header .bottom-container nav a.active::after, header .bottom-container nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  color: #FFFFFF;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .bottom-container button {
  position: relative;
  left: 5rem;
  bottom: 5px;
  background-color: #F9D783;
  border: solid #F9D783;
  border-radius: 35px;
  width: 120px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 10px;
  color: #191919;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shaow 0.3s ease-in-out;
  box-shadow: 10px 5px 5px 1px #927f4e;
}
header .bottom-container button i {
  margin-left: 10px;
  font-weight: 600;
}
header .bottom-container button:hover {
  background-color: #191919;
  color: #F0EFE9;
  box-shadow: 0 0 0 0 #927f4e;
}